.header{
          background-color: var(--gray-800);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.25rem 0;
          font-weight: bold;
          font-size: 1.4rem;
}

.header img{
          height: 4rem;
}